<link rel="stylesheet" href="~/dashboard/css/viewcomponents/CadastroRegras.css">



<div class="row card-box m-b-20 card-body sombreamento">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <h4 class="header">
                    Cadastro de Regras
                </h4>
                
                <p id="idDescMenu">
                    Para cadastrar um novo item é muito simples, basta selecionar um tipo de cadastro na lista a direita e clicar em Cadastrar
                </p>
                
            </div>
        </div>
    </div>
    <div class="collapse" id="idItensCadastro">
        <hr />
        <div id="idConteudoTotal" class="row">
            <div id="iddropDownDefault" style="display:inline">

            </div>
            <div id="idConteudoDropDown" style="display:inline">

            </div>
        </div>
    </div>

    </div>

<div style="display:none" id="idTodosDropDown">



</div>

<script src="~/dashboard/scripts/viewcomponents/CadastroRegras.js"></script>