<script src="~/assets/js/jquery.min.js"></script>

<div class="page-header-2 page-header-2-sow" style="background-color:white;margin-top:-30px;">
    <ul class="breadcrumb pull-right">
        <li><i class="ti-home"></i> <a href="~/Home/Index">Home</a></li>
        <li class="active">Painel de Controle</li>
    </ul>
    <h3>DashBoard <small>Painel de Controle</small></h3>
</div>

<div id="IdCartoes">
    <vc:cartoes-visita></vc:cartoes-visita>
</div>

<div id="ResumoProcessos">

    <vc:resumo-processos></vc:resumo-processos>

    

</div>

<div style="margin-top: 30px;" id="ComponentResumo">

</div>

<script src="~/dashboard/scripts/views/Index.js">
    var timer = "";
</script>